//COLOR

//MQ BREAK POINTS
$mq-bp-sm:36em;
$mq-bp-md:48em;
$mq-bp-lg:62em;
$mq-bp-xl:75em;
$mq-bp-xxl:88em;
//CONTAINER WIDTH
$contaienr-w-sm:32rem;
$contaienr-w-md:40em;
$contaienr-w-lg:54em;
$contaienr-w-xl:67em;
$contaienr-w-xxl:76em;
//FONT FAMILY
$ff-inter :  'Inter', sans-serif;
$ff-lexend-deca: 'Lexend Deca', sans-serif;
//FONT WEIGHT
$fw-normal : 400;
$fw-kinda-bold : 700;